body {
  margin: 0;
  background: #75b1a9;
}

main{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
}

.sidebar {
  background: #acd0c0;
  position: fixed;
  top: 7rem;
  bottom: 0rem;
  left: 0;
  width: 10rem;
  color: white;
}

.sidebar button {
  margin: 1rem 1rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
}

input:focus {
  outline: none !important;
  border-color: #4f6457;
  box-shadow: 0 0 10px #4f6457;
}
button {
  font-size: 1.5rem;
  border-radius: 5rem;
  border: none;
  background: #d9b44a;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.chat.ui {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* display: none; */
}

.chat.ui ul {
  flex: 1;
}

li {
  list-style-type: none;
}

li:nth-child(odd) {
  background: #acd0c0;
}

.answerInChat {
  margin: 0.5rem;
}


.sendButtonInChat {
  width: 9%;
}

.leaveRoomButton {
  width: 9%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5rem;
}
header{
  color: #4F6457;
  font-family: 'Changa', sans-serif;
  font-size: 4rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.contact{
  color: #4F6457;
  font-size: 1.5rem;
  margin: 1rem;
}

.fa-user{
  margin: 0 2rem;
}


