body {
  margin: 0;
  background: #75b1a9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
}

input:focus {
  outline: none !important;
  border-color: #4f6457;
  box-shadow: 0 0 10px #4f6457;
}
button {
  font-size: 1.5rem;
  border-radius: 5rem;
  border: none;
  background: #d9b44a;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.chat.ui {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* display: none; */
}

.chat.ui ul {
  flex: 1;
}

li {
  list-style-type: none;
}

li:nth-child(odd) {
  background: #acd0c0;
}

.answerInChat {
  margin: 0.5rem;
}


.sendButtonInChat {
  width: 9%;
}

.leaveRoomButton {
  width: 9%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5rem;
}
